{% extends "base.html" %}
{% block content %}
    <h1>{% if product %}Редактировать товар{% else %}Добавить товар{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if product %}Сохранить{% else %}Добавить{% endif %}</button>
    </form>
    <p>
        <input value="Список товаров" type="button" onclick="location.href='{% url "product_list" %}'"/>
        <input value="На главную" type="button" onclick="location.href='{% url "home" %}'"/>
    </p>
{% endblock %}